[Desktop Entry]
Type=Application
Exec=alacritty
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_CA]=alacritty
Name=alacritty
Comment[en_CA]=
Comment=
