[Desktop Entry]
Type=Application
Exec=flatpak run com.github.hluk.copyq
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_CA]=CopyQ
Name=CopyQ
Comment[en_CA]=
Comment=
