[Desktop Entry]
Type=Application
Exec=telegram-desktop
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_CA]=Telegram
Name=Telegram
Comment[en_CA]=
Comment=
